body{
    min-height: 100vh;
    position: relative;
    margin: 0;
}
.content-center{
    margin:0 auto;
}
.footer-absolute{
    position: absolute;
}
.footer{
    bottom: 0;
    width: 100%;
    padding: 2%;
}
@media (max-width: 575.98px){
    .footer-absolute{
        position: relative;
    }
    
}
.resultado{
    text-decoration: none;  
    white-space: normal;
}
#searchList{
    display: none;
    width: 100%; 
}
#divSearch{
    display:flex;
    align-items: center;
    justify-content: center;
}
@media (min-width:992px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
    .navbar-nav.navbar-right {
        position: absolute;
        right: 0%;
        transform: translatex(-50%);
    }
    ul.navbar-nav{
        z-index: 1000;
        position: absolute;
    }
}
.table td{
    vertical-align: middle;
}
.jumbotron{
    background-image: url('../../images/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 2rem;
    margin:0;
}
.site-header{
    background-color: inherit;
}
.site-header a{
    /* color:black;*/
}
.searcher {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.searcher:focus {
    width: 100%;
}